.task-section {
  margin-top: 2em;

  h2 {
    font-weight: bold;
  }

  .display-task {
    margin-top: 1em;
    padding: 1em 1em 14px 1em;
    background: #171717;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    border-width: thin;
  }
}
