.todo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 6px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.todo-list--edit-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 6px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  background: #171717;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  border-width: thin;
}

.todo-list__action-priority {
  display: flex;

  button {
    margin-right: 1em;

    svg {
      width: 18px;
      height: 18px;
      transition: 0.3s;
    }

    .todo-list__action-unchecked-icon {
      color: #808080;

      &:hover {
        color: #999999;
      }
    }

    .todo-list__action-checked-icon {
      background: transparent;
      color: #299438;

      &:hover {
        color: #7ecc49;
      }
    }
  }

  p {
    font-size: 14px;
  }

  .edit-todo {
    input {
      color: #8b8b8b;
      background: #171717;
      font-size: 13px;
      width: 100%;
      height: 2em;
      border: none;
      padding: 1em;
      margin-top: 8px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;

      &:focus-within {
        outline: none;
      }
    }

    button {
      display: block;
      font-size: 13px;
      color: #fff;
      background: #de4c4a;
      margin-top: 8px;
      padding: 3px 10px;
      border: 1px solid #de4c4a;
      border-radius: 5px;
      margin-right: 10px;
    }
  }
}

.todo-list__action {
  button {
    margin-left: 8px;

    svg {
      transition: 0.3s;
    }

    .todo-list__action-edit-icon {
      color: #ff9933;

      &:hover {
        color: #fad000;
      }
    }

    .todo-list__action-schedule-icon {
      color: #299438;

      &:hover {
        color: #7ecc49;
      }
    }

    .todo-list__action-comment-icon {
      color: #4073ff;

      &:hover {
        color: #96c3eb;
      }
    }

    .todo-list__action-trash-icon {
      color: #db4035;

      &:hover {
        color: red;
      }
    }
  }
}
