.main {
  grid-area: main;
  margin: 1em 7em;

  h1 {
    font-size: 1.25rem;
    color: #ffffde;
    span {
      margin: auto;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  .main__editor {
    p {
      cursor: pointer;
      color: grey;
      font-size: 1rem;

      &:hover {
        color: #de4c4a;
      }

      span {
        margin-right: 1em;

        .plus-icon {
          color: #de4c4a;
        }
      }
    }
  }
}
