.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  li {
    padding: 4px 8px;
    cursor: pointer;
    font-size: 13px;

    &:hover {
      background: #363636;
    }

    &:first-child {
      svg {
        margin-bottom: -3px;
      }
    }

    &:last-child {
      margin-bottom: 1em;
    }

    button {
      display: flex;
      gap: 8px;
    }

    select {
      margin-top: 1em;
      background: #282828;
      color: #e2e2e2;
      border: none;
      outline: none;
      scroll-behavior: smooth;
      cursor: pointer;
      -webkit-appearance: none;

      &:hover {
        background: #363636;
      }

      option {
        border-radius: 0px 10px;
      }
    }
  }
}
