.form {
  display: inline-block;

  .form__search {
    background: #363636;

    i {
      cursor: pointer;
    }

    input {
      height: 1.5em;
      background: #363636;

      &::placeholder {
        margin-left: 8px;
        color: #fff;
      }
    }
  }
}
